---

---
<section class = "bg-primary" id="contribute">
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contribute!</h2>
                    <hr class="light">
                        <p class="text-faded"> Annotate your own images and create a page using our platform. Check out the <a href="https://github.com/Puentes-Project"> Github Organization </a> for code and instructions. 
                        </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <a href:"https://github.com/Annotated-Ultras/Template_Site.git">
                            <i class="fa fa-4x fa-code-fork wow bounceIn text-primary" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                            <h3>Fork the template</h3>
                        </a>
                    </div>
             </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="">
                    	<i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                    	<h3>Instructions</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="mailto:Annotated.Ultras@gmail.com?subject=Request to Join Organzation">
                        <i class="fa fa-4x fa-child wow bounceIn text-primary" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                        <h3>Join the Organization</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>