<section id="Compartir">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Compartenos tu historia</h2>
                    <hr class="light">
                        <p> Si conoces a algún viajero/a que tenga una historia interesante que compartir, o si tu eres un vagamundo que quiere ser entrevistado, mandanos un correo y nos pondremos en contacto contigo.
                        </p>
            </div>
        </div>
    </div>
</section>
<section  id="contribute">
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Conéctate</h2>
                    <hr class="light">
                        <p> Únete a nuestra caravana en redes sociales
                        </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                    <div class="service-box">
                        <a target = "_blank" href="https://www.facebook.com/VagamundosPodcast">
                            <i class="fa fa-4x fa-facebook-square wow bounceIn text-primary" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                            <h3>Facebook</h3>
                        </a>
                    </div>
             </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <a target = "_blank" href="https://twitter.com/SomosVagamundos">
                    	<i class="fa fa-4x fa-twitter-square wow bounceIn text-primary" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                    	<h3>Twitter</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <a target = "_blank" href="https://soundcloud.com/user-498165897">
                        <i class="fa fa-4x fa-soundcloud wow bounceIn text-primary" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                        <h3>SoundCloud</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <a target = "_blank" href="pay.pal">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                        <h3>Donar</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>