<section class="bg" id="contact">
  <div class = "container">
    <div class = "row"> 
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1 text-center">
        <h2 class="section-heading">Contact</h2>
        <hr class="light">
        <i class="fa fa-4x fa-envelope wow bounceIn text-primary" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
        <h3><a href="mailto:PuentesProjectPodcast@gmail.com">PuentesProjectPodcast@gmail.com</a></h3>
      </div>
    </div>
  </div>
</section>