<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" >
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{{ site.github.url }}/#page-Top">Vagamundos Podcast</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Sobre</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Podcasts</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#Compartir">Compartir</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contribute">Contribuir</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contacto</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ site.github.url }}/#blog">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header id= "page-Top">
        <div class="header-content">
            <div class="header-content-inner">
                <h1></h1>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Sobre nosotros</h2>
                        <hr class="light">
                            <p class="text-faded">Vagamundos Podcast se trata de viajeros, viajes, aventuras y el curiosos espirito  incansable del ser humano. Los episodes se presentan ejemplares de la diversidad de viajes y viajeros. Incluso las historias de mochileros, oficinistas, periodistas, cientificos, y religiosos. 
                            </p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary" id="Compartir">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Compartenos tu historia</h2>
                        <hr class="light">
                            <p class="text-faded">Si conoces a algún viajero/a que tenga una historia interesante que compartir, o si tu eres un vagamundo que quiere ser entrevistado, mandanos un correo y nos pondremos en contacto contigo.
                            </p>
                </div>
            </div>
        </div>
    </section>