<section id = "portfolio" class="bg-primary" >
	<div class="container-fluid">
		<div class = "row">
			<div class = "col-md-4 col-sm-4">
				<a href="http://fake.pod.cast" class = "portfolio-box">
					<img class= "img-responsive img-rounded" src="./img/EpisodeComing.png" alt="Podcast 1">
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            </div>
                            <div class="project-name">
                                Podcast 1
                            </div>
                        </div>
                    </div>
				</a>
			</div>
			<div class = "col-md-4 col-sm-4">
				<a href="http://fake.pod.cast2" class = "portfolio-box">
					<img class= "img-responsive img-rounded" src="./img/EpisodeComing.png" alt="Podcast 2">
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            </div>
                            <div class="project-name">
                                Podcast 2
                            </div>
                        </div>
                    </div>
				</a>
			</div>
			<div class = "col-md-4 col-sm-4">
				<a href="http://fake.pod.cast3" class = "portfolio-box">
					<img class= "img-responsive img-rounded" src="./img/EpisodeComing.png" alt="Podcast 3">
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            </div>
                            <div class="project-name">
                                Podcast 3
                            </div>
                        </div>
                    </div>
				</a>
			</div>
		</div>
	</div>
</section>